body {
  padding-top: 100px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.flag {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 5.33333333em;
  line-height: 1em;
  margin: 40px;
}

.logo {
  margin: 50px;
}

.fb-login-button { 
  text-align: center;
}