@font-face { font-family: Static; src: url('Static.otf'); } 
body {
  background-color: #ebebeb;
  font-family: Static;
  font-size: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.flag {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 5.33333333em;
  line-height: 1em;
  margin: 40px;
  border-radius:50%;
  box-shadow: 5px 5px 8px #888888;
}

.logo {
  margin: 50px;
  box-shadow: 5px 5px 8px #888888;
}

.fb-login-button { 
  text-align: center;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 150px;
  width: 200px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}


/* EXAMPLE 5 - Logo with Text*/
.navbar-default {
  background-color: #ce2b37

}
.example5 .navbar-brand {
  display: flex;
  align-items: center;
  height: 80px;
  color: white;
  font-size: 36px;
}
.role-type img {
  height: 100px;
  width: 100px;
  margin: 40px;
}
.fb_iframe_widget{
}