<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lavoro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="starter-template">
		<div class="container">
		  <div class="row">
			  <div class="col-sm-3">
			  	<a href="/login"><img class="flag" src="{{ url_for('static', filename='it.svg') }}"></a>
			  </div>
			  <div class="col-sm-3">
			  	<a href="/login"><img class="flag" src="{{ url_for('static', filename='gb.svg') }}"></a>
			  </div>
			  <div class="col-sm-3">
			  	<a href="/login"><img class="flag" src="{{ url_for('static', filename='sy.svg') }}"></a>
			  </div>
			  <div class="col-sm-3">
			  	<a href="/login"><img class="flag" src="{{ url_for('static', filename='es.svg') }}"></a>
			  </div>
			</div>
		</div>
		<div class="logo">
			<button type="button" class="btn btn-default">Logo Here</button>
		</div>
	</div>

</body>
</html>