<!DOCTYPE html>
{% include 'layout.html' %}
<body>
	<div id="fb-root"></div>
  <div class="container">
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
  </div>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=169037257082099&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '169037257082099',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        testAPI();
      }
    });
  };

  function testAPI() {
    FB.api('/me?fields=id,first_name,last_name', function(response) {
      console.log(Object.keys(response))
      console.log('Successful login for: ' + response.first_name);
      $.ajax({
        dataType: 'json',
        type: "POST",
        url: "/login_post",
        data: JSON.stringify(response),
        contentType: 'application/json;charset=UTF-8',
        crossDomain: true,
        success: function(successResponse) {
          window.location.href='/role'
        },
        error: function() {
          alert("An error has occurred. Please try again.")
        }
      });
    });
  }
  </script>
  
</body>
</html>