<!DOCTYPE html>
{% include 'layout.html' %}
<body>

	<div class="starter-template">
		<div class="container">
			What do you want to do?
		  <div class="row">
			  <div class="col-sm-6">
			  	<a href="/skills"><img class="flag" src="{{ url_for('static', filename='search-jobs.png') }}"></a>
			  	<br>
			  	Find Jobs
			  </div>
			  <div class="col-sm-6">
			  	<a href="/skills_want"><img class="flag" src="{{ url_for('static', filename='post-jobs.png') }}"></a>
			  	<br>
			  	Post Jobs
			  </div>
		</div>
	</div>

</body>
</html>