<!DOCTYPE html>
<html>
  <head>
    <title>User Info</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>

  <body>
    <div id="locationField">
      <form method="post" id="form">
        <input id="autocomplete" placeholder="Enter your address"
               onFocus="geolocate()" type="text">
        <input type="submit" value="Submit">
      </form>
    </div>

    <script>

    document.querySelector('#form').onsubmit = function() {

        // Initialize new request
        const request = new XMLHttpRequest();
        const location = document.querySelector('#autocomplete').value;
        request.open('POST', '/user_infopost');
        request.onload = function() {
          window.location.href='/success'
        }

        // Add data to send with request
        const data = new FormData();
        data.append('location', location);

        // Send request
        request.send(data);
        return false;
    }
      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});
        console.log("init autocomplete");

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
      }


      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        console.log("geolocating")
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdxJonFMWxdjej5S9tErA8gofopW7FME8&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>